<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include "base.head.html" %}
</head>

<body>
    <!-- HEADER -->
    <header>
        {% include "base.header.html" %}
    </header>

    <!-- NAV -->
    {% include "base.nav.html" %}

    <!-- CONTENT -->
    <div class="container">
        {% block content %}
        <!-- CONTENT -->
        {% endblock %}
    </div>

    <!-- FOOTER -->
    {% include "base.footer.html" %}


    <!-- SCRIPTS -->
    {% include "base.scripts.html" %}
</body>

</html>